/node_modules
/public/hot
/public/storage
public/.well-known/
/storage/*.key
/vendor
/.idea
/.vagrant
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
Modules/*/node_modules
modules_statuses.json
/public/mix-manifest.json
/public/css
/public/
/public/webfonts
_ide_helper.php
.phpstorm.meta.php
/storage/settings.json
