/node_modules
/public/hot
/public/storage
public/.well-known/
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/nbproject/private/
Modules/*/node_modules
modules_statuses.json
/public/mix-manifest.json
/public/css
/public/
/public/webfonts