/node_modules
/public/hot
/public/storage
/public/.well-known/
/public/build
/storage/*.key
/storage/settings.json
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nbproject/private/
_ide_helper.php
.phpstorm.meta.php
.php-cs-fixer.cache
storage/githash.cache
.DS_Store
app/RELEASE
