parameters:
	ignoreErrors:
		-
			message: "#^Access to protected property App\\\\Support\\\\Accounting\\\\Webling\\\\Entities\\\\Period\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/Accounting/WeblingApiController.php

		-
			message: "#^Call to an undefined method Laravel\\\\Socialite\\\\Contracts\\\\Provider\\:\\:with\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/LoginController.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\Accounting\\\\TransactionHistory\\:\\:\\$user\\.$#"
			count: 1
			path: app/Http/Resources/Accounting/TransactionHistory.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Accounting\\\\Transaction\\:\\:\\$sum\\.$#"
			count: 1
			path: app/Models/Accounting/Transaction.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\CommunityVolunteers\\\\CommunityVolunteerResponsibility\\:\\:\\$end_date\\.$#"
			count: 3
			path: app/Models/CommunityVolunteers/CommunityVolunteerResponsibility.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\CommunityVolunteers\\\\CommunityVolunteerResponsibility\\:\\:\\$start_date\\.$#"
			count: 3
			path: app/Models/CommunityVolunteers/CommunityVolunteerResponsibility.php

		-
			message: "#^Access to an undefined property App\\\\Support\\\\Accounting\\\\Webling\\\\Entities\\\\Entrygroup\\:\\:\\$parent\\.$#"
			count: 1
			path: app/Support/Accounting/Webling/Entities/Entrygroup.php

		-
			message: "#^Access to an undefined static property static\\(App\\\\Support\\\\Accounting\\\\Webling\\\\Entities\\\\WeblingEntity\\)\\:\\:\\$dates\\.$#"
			count: 1
			path: app/Support/Accounting/Webling/Entities/WeblingEntity.php

		-
			message: "#^Access to an undefined static property static\\(App\\\\Support\\\\Accounting\\\\Webling\\\\Entities\\\\WeblingEntity\\)\\:\\:\\$objectName\\.$#"
			count: 1
			path: app/Support/Accounting/Webling/Entities/WeblingEntity.php

		-
			message: "#^Undefined variable\\: \\$objectId$#"
			count: 1
			path: app/Support/Accounting/Webling/WeblingClient.php
